<h1 class="center big-text">
  <%= gravatar_for(@current_user, 100) %><br>
  <%= @current_user.name_first %> <%= @current_user.name_last %>
</h1>

<p>
  User ID: <%= current_user.id %>
</p>

<p>
  <% if current_user.admin? %>
    Admin: yes
  <% else %>
  <% end %>
</p>

<p>
  <% if user_signed_in? %>
    <%= link_to "Edit your account", edit_user_registration_path %>
  <% end %>
</p>