<h2>Login</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name),
             html: { class: "pure-form pure-form-stacked" }) do |f| %>
  
  <%= f.error_notification %>

  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>

    <%= f.input :remember_me, as: :boolean %>

  <% end -%>
  <div>
    <%= f.submit "Login", class: "pure-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
